<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
	<div class="well well-large">
		<h1>Alle Amateure</h1>
		<p><a href="{{ url_for('createAmateur') }}">Neuen Amateur anlegen</a></p>
		<table class="table table-striped"> 
			<thead>
				<tr>
				  <th>Name</th>
				  <th>Twitter</th>
				  <th>MDH ID</th>
				  <th>Visit-X ID</th>
				  <th>PM ID</th>
				  <th>Edit</th>
				</tr>
			  </thead>
			<tbody>
			{% for amateur in amateurs %}
				<tr>
				  <td><a href="{{ url_for("amateur", amateurId=amateur.id) }}">{{ amateur.name }}</a></td>
				  <td>{{ amateur.tw }}</td>
				  <td>{{ amateur.mdhId }}</td>
				  <td>{{ amateur.vxId }}</td>
				  <td>{{ amateur.pmId }} | {{ amateur.pmRef }}</td>
				  <td><a href="{{ url_for("editAmateur", amateurId=amateur.id) }}">Edit</a> | <a href="{{ url_for("deleteAmateur", amateurId=amateur.id) }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}