<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
  <div class="well well-large">
    <h1>{{ amateur.name }} - Profil bearbeiten</h1>
    <form action="" method="post" name="editAmateur">
      {{form.hidden_tag()}}
      <table class="table table-striped"> 
        <tr><td>Name</td><td>{{ form.name(size=64) }}</td></tr>
        <tr><td>Twitter</td><td>{{ form.tw(size=q5) }}</td></tr>
        <tr><td>MDH ID</td><td>{{ form.mdhId(size=30) }}</td></tr>
        <tr><td>Visit-X ID</td><td>{{ form.vxId(size=30) }}</td></tr>
        <tr><td>PornMe ID</td><td>{{ form.pmId(size=30) }}</td></tr>
        <tr><td>SubDomain</td><td>{{ form.subDomain(size=30) }}</td></tr>
        <tr><td></td><td><input type="submit" value="Speichern"></td></tr>
      </table>
    </form>
  </div>
{% endblock %}